In [47]:
import pandas as pd
import numpy as np
import matplotlib as plot
import csv
import openpyxl

In [54]:
weekend_movie_gross_excel = pd.read_excel(r"C:\Users\mattl\code\SavvyCoders\Capstone\Data Sets\Opening Weekend Gross.xlsx")

In [55]:
weekend_movie_gross_csv = pd.read_csv(r'C:\Users\mattl\code\SavvyCoders\Capstone\Data Sets\Opening Weekend Gross UTF8.csv')

In [56]:
weekend_movie_gross_excel

,Release,Opening,Total Gross,% of Total,Theaters,Average,Date,Distributor
0,Avengers: Endgame,357115007.0,858373000.0,0.416,4662.0,76601.0,2019-04-26,Walt Disney Studios Motion Pictures
1,Spider-Man: No Way Home,260138569.0,804793477.0,0.323,4336.0,59995.0,2021-12-17,Sony Pictures Entertainment (SPE)
2,Avengers: Infinity War,257698183.0,678815482.0,0.380,4474.0,57599.0,2018-04-27,Walt Disney Studios Motion Pictures
3,Star Wars: Episode VII - The Force Awakens,247966675.0,936662225.0,0.265,4134.0,59982.0,2015-12-18,Walt Disney Studios Motion Pictures
4,Star Wars: Episode VIII - The Last Jedi,220009584.0,620181382.0,0.355,4232.0,51987.0,2017-12-15,Walt Disney Studios Motion Pictures
...,...,...,...,...,...,...,...,...
995,Demon Slayer: Kimetsu no Yaiba - The Movie: Mu...,21234994.0,49505008.0,0.429,1614.0,13156.0,2021-04-23,FUNimation Entertainment
996,Boo 2! A Madea Halloween,21226953.0,47319572.0,0.449,2388.0,8889.0,2017-10-20,Lions Gate Films
997,Payback,21221526.0,81526121.0,0.260,2729.0,7776.0,1999-02-05,Paramount Pictures
998,Four Brothers,21176925.0,74494381.0,0.284,2533.0,8360.0,2005-08-12,Paramount Pictures
999,Waterworld,21171780.0,88246220.0,0.240,2268.0,9335.0,1995-07-28,Universal Pictures

In [57]:
weekend_movie_gross_excel ['Date'].value_counts()

Date
2012-02-10    4
2017-02-10    3
2004-06-11    3
2016-07-22    3
2016-06-10    3
             ..
1992-06-19    1
1996-05-22    1
2018-08-10    1
2001-08-10    1
1995-07-28    1
Name: count, Length: 859, dtype: int64

In [68]:
weekend_movie_gross_excel.drop(['% of Total', 'Theaters', 'Average'], axis=1, inplace=True)

KeyError: "['% of Total', 'Theaters', 'Average'] not found in axis"

In [59]:
weekend_movie_gross_excel

,Release,Opening,Total Gross,Date,Distributor
0,Avengers: Endgame,357115007.0,858373000.0,2019-04-26,Walt Disney Studios Motion Pictures
1,Spider-Man: No Way Home,260138569.0,804793477.0,2021-12-17,Sony Pictures Entertainment (SPE)
2,Avengers: Infinity War,257698183.0,678815482.0,2018-04-27,Walt Disney Studios Motion Pictures
3,Star Wars: Episode VII - The Force Awakens,247966675.0,936662225.0,2015-12-18,Walt Disney Studios Motion Pictures
4,Star Wars: Episode VIII - The Last Jedi,220009584.0,620181382.0,2017-12-15,Walt Disney Studios Motion Pictures
...,...,...,...,...,...
995,Demon Slayer: Kimetsu no Yaiba - The Movie: Mu...,21234994.0,49505008.0,2021-04-23,FUNimation Entertainment
996,Boo 2! A Madea Halloween,21226953.0,47319572.0,2017-10-20,Lions Gate Films
997,Payback,21221526.0,81526121.0,1999-02-05,Paramount Pictures
998,Four Brothers,21176925.0,74494381.0,2005-08-12,Paramount Pictures
999,Waterworld,21171780.0,88246220.0,1995-07-28,Universal Pictures

In [65]:
weekend_movie_gross_excel.sort_values(by = ['Date'], inplace=True, ascending=False)

In [66]:
weekend_movie_gross_excel

,Release,Opening,Total Gross,Date,Distributor
955,Renaissance: A Film by Beyoncé,21801216.0,21801216.0,2023-12-01,-
337,The Hunger Games: The Ballad of Songbirds & Sn...,44607143.0,125099432.0,2023-11-17,Lions Gate Films
627,Trolls Band Together,30002525.0,76474100.0,2023-11-17,Universal Pictures
322,The Marvels,46110859.0,81419870.0,2023-11-10,Walt Disney Studios Motion Pictures
116,Five Nights at Freddy's,80001720.0,137038110.0,2023-10-27,Universal Pictures International (UPI)
...,...,...,...,...,...
642,Indiana Jones and the Last Crusade,29355021.0,197171806.0,1989-05-24,Paramount Pictures
738,Beverly Hills Cop II,26348555.0,153665036.0,1987-05-20,Paramount Pictures
774,Indiana Jones and the Temple of Doom,25337110.0,179870271.0,1984-05-23,Paramount Pictures
889,Star Wars: Episode VI - Return of the Jedi,23019618.0,252583617.0,1983-05-25,Twentieth Century Fox
469,1997 Special Edition,NaN,NaN,NaT,NaN

In [71]:
csv_file_path = r'C:\Users\mattl\code\SavvyCoders\Capstone\Data Sets\FirstWeekendData.csv'

# Save the DataFrame to a CSV file
weekend_movie_gross_excel.to_csv(csv_file_path, index=False)

print(f"DataFrame saved to {csv_file_path}")

DataFrame saved to C:\Users\mattl\code\SavvyCoders\Capstone\Data Sets\FirstWeekendData.csv

In [16]:
movie_data.sort_values(by = ['year'], inplace = True, ascending=False)

movie_data

,name,genre,year,released,gross,company
7667,Tee em el,Horror,2020,"August 19, 2020 (United States)",NaN,PK 65 Films
7644,Wonder Woman 1984,Action,2020,"December 25, 2020 (United States)",166534027.0,Atlas Entertainment
7655,Legend of Deification,Animation,2020,"October 1, 2020 (United States)",240663149.0,Beijing Enlight Pictures
7659,I Am Fear,Horror,2020,"March 3, 2020 (United States)",13266.0,Roxwell Films
7660,Aloha Surf Hotel,Comedy,2020,"November 5, 2020 (United States)",NaN,Abominable Pictures
...,...,...,...,...,...,...
4,Caddyshack,Comedy,1980,"July 25, 1980 (United States)",39846344.0,Orion Pictures
3,Airplane!,Comedy,1980,"July 2, 1980 (United States)",83453539.0,Paramount Pictures
2,Star Wars: Episode V - The Empire Strikes Back,Action,1980,"June 20, 1980 (United States)",538375067.0,Lucasfilm
46,The Island,Action,1980,"June 13, 1980 (United States)",15716828.0,Universal Pictures
0,The Shining,Drama,1980,"June 13, 1980 (United States)",46998772.0,Warner Bros.

In [ ]:
movie_data.drop()